.header-color {
  background: #59C173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #59C173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
}

.banner-text {
  background-color: black;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 3em;
  padding: 8px;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  height: 680px;
}

.django-grid {
  display: flex;
  flex-wrap: wrap;
}

/* Contact page css */

.contact-body {
  padding-top: 2em;
  margin: auto;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: 'Anton', sans-serif; 
}

.contact-grid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  margin: auto;
  width: 50%;
}

.personal-no {
  display: flex;
}

.personal-no i {
  font-size: 66px;
  padding-right: 5rem;
  padding-left: 15px;
  padding-top: 26px;
}

.personal-no p {
  padding-top: 52px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

.personal-email {
  display: flex;
}

.personal-email i {
  font-size: 66px;
  padding-right: 5rem;
  padding-left: 15px;
  padding-top: 26px;
}

.personal-email p {
  padding-top: 52px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

.skype-id {
  display: flex;
}

.skype-id i {
  font-size: 66px;
  padding-right: 5rem;
  padding-left: 15px;
  padding-top: 26px;
}

.skype-id p {
  padding-top: 52px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
  font-weight: lighter;
}

/* Resume page css */

.resume-right-col {
  background: #27221F;
  color: white;
  padding: 2em;
}

.progress_position {
  justify-content: space-between;
}

/* Footer */

.my_footer {
  background: #424242;
  color: white;
  padding-left: 552px;
  padding-top: 11px;
}

 
@media screen and (max-width: 377px) {
  .contact-body {
    height: 245%;
  }

  .contact-grid {
    height: 800px;
  }

  .project-grid {
    height: 1363px;
  }

  .django-grid {
    height: 354px;
  }

  .banner-text h1 {
    font-size: 39px;
  }

  .social-links {
    padding-right: 68px;
  }

  .personal-no p {
    font-size: 22px;
  }

  .personal-no i {
    font-size: 39px;
    padding-right: 1rem;
    padding-left: 15px;
    padding-top: 44px;
  }

  .personal-email p {
    font-size: 22px;
  }

  .personal-email i {
    font-size: 39px;
    padding-right: 1rem;
    padding-left: 15px;
    padding-top: 44px;
  }

  .skype-id p {
    font-size: 22px;
  }

  .skype-id i {
    font-size: 39px;
    padding-right: 1rem;
    padding-left: 15px;
    padding-top: 44px;
  }

  .my_footer {
    padding-left: 90px;
  }
}